.black-body {
	background-color: black;
}


//home page
.task-item {
    margin-top: 5px;
    padding: 5px;
    height: 50px;
}

.task-done-1 {
	color: red;
	text-decoration: line-through;
    font-weight: bold;
}

.task-done-1 .btn-done {
	display: none;
}

.task-done-0 .btn-active {
	display: none;
}

.task-item .checkbox {
    margin: 12px 0 0 0;
}

.task-item .task-item__text {
	margin: 5px 0 0 0;
}

.task-list {
	overflow-y: scroll;
	max-height: 400px;
	overflow-x: hidden;
}


.task-list table {
	width: 100%;
	margin-top: 10px;
}

.task-list table tr td {
	width: 100%;
}

.task-list table tr td:last-child {
	width: 100px;
}