.black-body {
	background-color: black;
}

.task-item {
    margin-top: 5px;
    padding: 5px;
    height: 50px;
}

.task-item .checkbox {
    margin: 12px 0 0 0;
}

.task-item .task-item__text {
	margin: 5px 0 0 0;
}